h3{
	/*Ceci est un Commentaire
	 en CSS
	*/
	color:red;
	word-spacing: 10px;
}
p{color:yellow;
line-height: 140%;}
h2 {
	color:rgba(12,80,100,1); /*rgb(12,80,100,1); et #DDF156*/ 
	letter-spacing: 5px;
}
h1{text-align: center;}
span{text-decoration: overline; }
p{text-indent: 40px;}

/*l'arrière plan*/
div{
	background-image: url(../Multimédias/Images/Enzo.jpg);
background-repeat: repeat-y;	
}
body{
	background-image: url(../Multimédias/Images/img2.png);
background-repeat: no-repeat;
background-attachment: fixed;
background-position : 400px 300px; 
background-color: rgba(34,80,200,0.6);
opacity:0.95;
}
ul{
	list-style-type: hebrew; 
	list-style-position:inside;
}